<div class="f_content-block">
	<div class="f_text-wrapper">
		<div class="f_text">
			<h1>Our Story</h1>
			<p>FISCH is eco-innovative label designed St. Barths and inspired by the Creative Director's childhood spent on the island.</p>
		</div>
	</div>
	<img src="https:{{ 'IMAGE_4.jpg' | asset_url }}" alt="" class="f_image">
	<div class="clear"></div>
</div>
<div class="f_content-block">
	<div class="f_text-wrapper">
		<div class="f_text">
			<p>Launched in 2017, the brand was born from the desire to create statement swimwear with a superior fit and timeless design that helped to keep waste out of the ocean by up-cycling.</p>
		</div>
	</div>
	<img src="https:{{ 'IMAGE_5.jpg' | asset_url }}" alt="" class="f_image">
	<div class="clear"></div>
</div>
<div class="f_content-banner" id="fs_video-wrapper">
	<video id="fs_video-wrapper-video" playsinline loop="true" muted autoplay="true">		
		<source src="https://player.vimeo.com/external/374577818.sd.mp4?s=35f9bcd51fd1ee81aea6599d316127af169d9b3b&profile_id=165" type="video/mp4">			
		<source src="https://player.vimeo.com/external/374577818.sd.mp4?s=35f9bcd51fd1ee81aea6599d316127af169d9b3b&profile_id=165" type="video/mp4">		
	</video>
</div>
<div class="f_content-block">
	<div class="f_text-wrapper">
		<div class="f_text">
			<p>FISCH’s entire collection is made from ECONYL ® - a 100% regenerated nylon fiber crafted from abandoned fishing nets and other types of nylon waste.</p>
		</div>
	</div>
	<img src="https:{{ 'IMAGE_3.jpg' | asset_url }}" alt="" class="f_image">
	<div class="clear"></div>
</div>
<div class="f_content-block">
	<div class="f_text-wrapper">
		<div class="f_text">
			<p>Each piece from every FISCH collection is handmade in Italy from fabric woven in Lombardy, to ensure the highest quality possible while helping to minimize our carbon footprint.</p>
		</div>
	</div>
	<aside id="fs_video-wrapper--half">
		<video id="fs_video-wrapper-video" playsinline loop="true" muted autoplay="true">		
			<source src="https://player.vimeo.com/external/374578320.hd.mp4?s=dd498e68895d6253fd320cc2a0974edcd40ad0bc&profile_id=175" type="video/mp4">			
			<source src="https://player.vimeo.com/external/374578320.hd.mp4?s=dd498e68895d6253fd320cc2a0974edcd40ad0bc&profile_id=174" type="video/mp4">
			<source src="https://player.vimeo.com/external/374578320.sd.mp4?s=c5b81eef086b788948333b8a24ec6d9163e492d3&profile_id=165" type="video/mp4">	
			<source src="https://player.vimeo.com/external/374578320.sd.mp4?s=c5b81eef086b788948333b8a24ec6d9163e492d3&profile_id=164" type="video/mp4">		
		</video>
	</aside>
	<div class="clear"></div>
</div>
<div class="f_content-block">
	<div class="f_text-wrapper">
		<div class="f_text">
			<p>Today, women around the world enjoy FISCH and we are thankful for each and every person who has helped us along on our journey.</p>
		</div>
	</div>
	<img src="https:{{ 'IMAGE_2.jpg' | asset_url }}" alt="" class="f_image">
	<div class="clear"></div>
</div>
<div class="f_content-block" id="f_explore-cta" style="background:url('https:{{ 'fisch-75-of-768.jpg' | asset_url }}') center center no-repeat;">
	<a href="https://fischswim.com/collections/all">
		<h1>Discover the collection</h1>
	</a>
</div>